{% extends "base" %}

{% block Title %}Hello Title{% endblock Title %}

{% block content %}
    <h1>Hi {{ name }}!</h1>
    <h3>Here are your items:</h3>

    {% for s in items %}
        <div class="row">
            {% for x in [1, 2, 3] %}
                <div class="col value-cell">{{ s }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <p>Try going to <a href="/tera/hello/{{ name }}">/tera/hello/{{ name }}</a></p>
{% endblock content %}