{% extends "base" %}

{% block Title %}Projtrack - Projects{% endblock Title %}

{% block content %}
    <h1>Projects</h1>
    <hr/>
    {% for project in projects %}
    <div class="row">
        <div class="col"><a href="/project/{{ project.id }}">{{ project.name }}</a></div>
    </div>
    {% endfor %}
{% endblock content %}